body {
    margin: 0;
    background: white;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 250px 150px;
    gap: 10px;
}

.item1 {
    grid-column: 1 / 3;
    background: black;
}

.item2 {
    background: orange;
}

.item3 {
    background: green;
}

.item4 {
    grid-column: 1 / 3;
    background: blue;
}

