body {
    background: #ff7de5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.top-row,
.bottom-row {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 25px;
}

.box {
    background: #eeeeee;
    padding: 15px;
    width: 30%;
    font-size: 14px;
}

.center-box {
    background: #ffb6f3;
    padding: 15px;
    border: 2px solid black;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 15px;
}
